body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #212121;
  background-color: #ffffff;
}

main{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

  #menu {
    background-color: #0077B5; 
    text-align: center; 
    padding: 20px; 
  }

  #menu a {
    display: inline-block; 
    padding: 20px 25px;
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    font-size: 21px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
  }
  form {
    background-color: #FFA000 ;
    padding: 25px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10px;
  }

  fieldset{
    border: none;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
  }
  
  form input,
  form select,
  form textarea {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
  }
  
  button {
    background-color: #00A0DC;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #d4d4d4;
  }
  
  form select {
    height: 40px;
  }
  
  form textarea {
    min-height: 150px;
  }
  
  legend {
    font-size: 30px;
    margin-left: 5%;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .inscription-phrase{
    color: black; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
    font-size: 16px; /* Taille du texte */
    text-transform: uppercase; /* Texte en majuscules */
    letter-spacing: 1px; /* Espace entre les lettres */
    margin-top: 17px;
    margin-bottom: 35px;
  }
  .text-align-center{
    text-align: center;
  }

  .techniqueJudo{
    justify-content: space-around;
    margin: 40px 0;
    margin-bottom: 38px;
  }
  
.technique:hover {
  transform: scale(130%);
  transition: all ease-in-out 150ms; 
}

.technique{
  width: 120px;
}

  .block{
    display: block;
  } 
  .mb5{
    margin-bottom: 15px;
  }

  footer{
    background-color: #0077B5;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .article{
    list-style-type: none;
  }
  .articles-titre{
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 20px;
  }
.titre-article{
  margin: 10px;
  font-size: 20px;
}
.place-article{
  max-width: 30%;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
}